@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Hide scrollbar globally */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Force correct mobile viewport behavior */
html, body {
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
  background: #000;
}

/* Safe tap targets */
button {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}