@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('/bg-placeholder_01_1080x1920.jpeg');
  background-size: cover;        /* Makes image fill the screen */
  background-repeat: no-repeat;  /* Prevent tiling */
  background-position: center;   /* Center the image */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}