@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  background: #000;
}

body {
  min-height: 100%;
  min-height: -webkit-fill-available;
  background: #000;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}